<!-- src/app/components/about/about.component.html -->
<div class="about-container">
  <h1>À propos de CV Management System</h1>
  <p>
    Le CV Management System est une plateforme avancée conçue pour optimiser le processus de gestion, d'analyse et de catégorisation des CVs. Construite avec des technologies de pointe, cette solution assure une intégration fluide entre le frontend, le backend et les composants LLM pour offrir un outil puissant de gestion des CVs.
  </p>
  <h2>Comment ça fonctionne</h2>
  <p>
    Le CV Management System traite les CVs téléchargés en extrayant des informations essentielles telles que les coordonnées, les compétences et les profils de poste adaptés. Les données extraites sont ensuite stockées dans une base de données MySQL et catégorisées à l'aide de techniques avancées d'LLM. La plateforme offre une interface intuitive pour visualiser et gérer les CVs, ainsi que des analyses approfondies pour aider dans les processus de recrutement.
  </p>
  <!-- Coordonnées -->


  <h2>Technologies utilisées</h2>
  <div class="tech-stack">
    <div class="tech-item">
      <h3>Frontend</h3>
      <p>
        <strong>Angular :</strong> Un framework polyvalent pour développer une interface utilisateur dynamique et réactive.<br>
        <strong>Angular Material :</strong> Fournit un design UI cohérent et intuitif avec une collection de composants réutilisables.<br>
      </p>
    </div>
    <div class="tech-item">
      <h3>Backend</h3>
      <p>
        <strong>Python & Flask :</strong> Python est utilisé pour la logique backend, avec Flask servant de framework léger pour créer des APIs RESTful.<br>
        <strong>MySQL :</strong> Gère et stocke efficacement les données structurées des CVs.<br>
        <strong>Google AI Gemini :</strong> Utilisé pour générer et analyser du contenu, offrant des informations approfondies sur les données traitées par le système.
      </p>
    </div>
    <div class="tech-item">
      <h3>Déploiement</h3>
      <p>
        <strong>Docker :</strong> La containerisation assure un déploiement fluide et une évolutivité de l'application dans différents environnements.<br>
        <strong>Docker Compose :</strong> Gère les applications Docker multi-conteneurs pour les services frontend et backend.
      </p>
      <div class="contact-info">
        <h2>Informations de contact</h2>
        <p>
          <i class="fab fa-github"></i> <a href="https://github.com/TahaManna07" target="_blank">GitHub</a>
        </p>
        <p>
          <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/taha-souhail-manna-2b293319b/" target="_blank">LinkedIn</a>
        </p>
        <p>
          <i class="fas fa-envelope"></i> <a href="mailto:mannatahasouhail@gmail.com">Email</a>
        </p>
      </div>
    </div>

  </div>


</div>
